@import "./colors";
// font-family: 'Fraunces', serif;
//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: $cream;
  height: 100vh;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 14px;
}
.product-box {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 620px;
  background-color: $white;
  border-radius: 8px;
  overflow: hidden;
  &__image {
    height: 40%;
    width: 100%;
    background-image: url("../images/image-product-mobile.jpg");
    background-size: cover;
  }

  &__content {
    padding: 25px 25px 25px;
  }
  &__type {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    color: $darkgrayishblue;
  }
  &__name {
    margin: 15px 0;
    font-family: "Fraunces", serif;
    font-size: 30px;
    font-weight: bold;
  }
  &__text {
    color: $darkgrayishblue;
    margin: 15px 0;
    line-height: 20px;
  }
  &__prices {
    font-family: "Fraunces", serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    &--new {
      color: $darkcyan;
      font-weight: bold;
      font-size: 32px;
      margin-right: 20px;
    }
    &--old {
      font-family: "Montserrat", sans-serif;
      color: $darkgrayishblue;
      text-decoration: line-through;
      font-weight: 400;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: $darkcyan;
    border-radius: 8px;
    margin: 15px 0;
    transition: background-color 0.3s;
    cursor: pointer;
    &--text {
      margin-left: 10px;
      color: white;
      font-weight: 500;
    }
    &:hover {
      background-color: $verydarkcyan;
    }
  }
}

@media (min-width: 1440px) {
  .product-box {
    display: flex;
    flex-direction: row;
    width: 620px;
    height: 440px;
    &__image {
      height: 100%;
      width: 50%;
      background-image: url("../images/image-product-desktop.jpg");
      background-size: cover;
    }
    &__content {
      width: 50%;
      height: 100%;
      display: inline;
      padding: 30px 40px 30px 30px;
    }
    &__name {
      font-size: 34px;
      line-height: 36px;
    }
    &__text {
      margin: 20px 0;
      line-height: 22px;
    }
    &__prices {
      margin: 20px 0;
    }
  }
}
